<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>
<input type="text"[(ngModel)]="phone" />
<button class="btn btn-danger" (click)="AddMobile()">Add</button>
<ul>
  <li *ngFor="let item of phones">
    {{item}}
  </li>
</ul>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

<table class="table table-border table-hovered">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Colors</th>
      <th>Action</th>
    </tr>
  </thead>
  <tr *ngFor="let x of myfriends">
    <td>{{x.id}}</td>
    <td>{{x.name}}</td>
    <td>{{x.age}}</td>
    <td>{{x.gender}}</td>
    <td>
      <ul>
        <li *ngFor="let one of x.colors">{{one}}</li>
      </ul>
    </td>
    <td>
      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-danger">Delete</button>
      <button class="btn btn-secondary">View</button>

    </td>

  </tr>

</table>
